.mobileShow {display: none !important;}
.mobileShowInline {display: none !important;}
.tabletShow {display: none !important;}
.tabletShowInline {display: none !important;}

.scrollLock {overflow: hidden;}
#header{position: fixed;top: 0;left: 0;padding-right: 110px;width: 100%;height: 100px;border-bottom: 1px solid rgba(255, 255, 255, 0.2);box-sizing: border-box;z-index: 99;transition: all 0.5s;}
#header .inner{display: flex;align-items: center;justify-content: space-between;flex-direction: row;flex-wrap: nowrap;max-width: 100%;width: 1600px;height: 100%;padding-left: 50px;margin: 0 auto;box-sizing: border-box;}
#header .logo a{position: relative;display: block;}
#header .logo a img{transition: all 0.5s;vertical-align: bottom;}
#header .logo a:after{content: " ";position: absolute;top: 0;left: 0;width: 242px;height: 65px;background-image: url(../images/layout/logo_color.svg);background-size: contain;background-repeat: no-repeat;opacity: 0;transition: all 0.5s;}
#gnb {position: relative;}
#gnb > ul{display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;width: 880px;height: 100px;align-items: center;}
#gnb > ul > li{position: relative;width: 190px;box-sizing: border-box;}
#gnb > ul > li > a{display: flex;justify-content: center;align-items: center;height: 100px;color: #FFF;font-size: 18px;font-weight: 600;line-height: normal;letter-spacing: -1px;text-align: center;font-family: "Montserrat", serif;}
#gnb > ul > li > ul{display: none;position: absolute;top: 100px;min-width: 170px;left: 50%;padding: 15px 0;transform: translateX(-50%);box-sizing: border-box;border: 1px solid rgba(255, 255, 255, 0.20);background: rgba(255, 255, 255, 0.05);text-align: center;}
#gnb > ul > li > ul > li > a{color: #FFF;font-size: 17px;font-weight: 400;line-height: 36px;}
#gnb > ul > li > ul > li > a:hover{font-weight: 700;text-decoration: underline;}
.move_box{position: absolute;bottom: 0;left: 0;width: 170px;height: 5px;background-color: #089E4A;z-index: 0;opacity: 0;-webkit-transition: 0.7s;transition: 0.7s;}
#gnb.on .move_box{opacity: 1;}
.btnSitemapOpen{position: absolute;right: 0;top: 0;}
.btnSitemapOpen button{width: 110px;height: 100px;background: #089E4A;}
.btnSitemapOpen button span{position: relative;top: -2px;display: inline-block;width: 20px;height: 2px;background: #fff;transition: all 0.5s;will-change: transform;}
.btnSitemapOpen button span:before, .btnSitemapOpen button span:after{content: "";position: absolute;right: 0;width: 24px;height: 2px;background: #fff;transition: all 0.5s;will-change: transform;}
.btnSitemapOpen button span:before{width: 24px;top: -8px;}
.btnSitemapOpen button span:after{width: 24px;top: 8px;}
.btnSitemapOpen.on button span{top: -4px;width: 26px;transform: rotate(45deg);}
.btnSitemapOpen.on button span:before{top: -6px;width: 50%;right: 25%;transform: rotate(90deg);}
.btnSitemapOpen.on button span:after{top: 6px;width: 50%;right: 25%;transform: rotate(-90deg);}
.sitemapWrap{display: none;position: fixed;left: 0;top: 0;width: 100vw;height: 100vh;padding: 0 0 50px 0;background: #FFF;box-sizing: border-box;z-index: 101;}
.sitemapWrap.show{display: block;}
.sitemapHeader{position: relative;display: flex;align-items: center;justify-content: space-between;flex-direction: row;flex-wrap: nowrap;max-width: 100%;width: 100%;height: 100px;margin: 0 auto;padding-left: 30px;box-sizing: border-box;}
.sitemapHeader .logo a{display: block;}
.sitemapHeader .logo a img{vertical-align: bottom;}
.btnSitemapClose{position: absolute;right: 0;top: 0;width: 110px;height: 100px;background: #089E4A;}
.btnSitemapClose span{position: relative;top: -4px;display: inline-block;width: 26px;height: 2px;background: #fff;transition: all 0.5s;will-change: transform;transform: rotate(45deg);}
.btnSitemapClose span:before, .btnSitemapClose span:after{content: "";position: absolute;right: 0;width: 50%;right: 25%;height: 2px;background: #fff;transition: all 0.5s;will-change: transform;}
.btnSitemapClose span:before{top: -6px;top: -7px;transform: rotate(90deg);}
.btnSitemapClose span:after{top: -6px;top: 7px;transform: rotate(-90deg);}
.sitemapBody{position: relative;width: 100%;max-width: 1800px;margin: 0 auto;height: calc(100% - 100px);display: flex;align-content: center;align-items: center;flex-direction: row;flex-wrap: wrap;}
.sitemapBody > ul{width: 100%;height: 100%;display: flex;flex-direction: row;flex-wrap: wrap;align-items: flex-start;justify-content: center;counter-reset: list-number;}
.sitemapBody > ul > li{display: flex;flex-direction: column;flex-wrap: wrap;align-items: flex-start;text-align: left;align-content: center;width: 20%;height: calc(100% - 60px);padding-top: 60px;margin-top: 60px;box-sizing: border-box;text-align: left;counter-increment: list-number;}
.sitemapBody > ul > li:before{content: "0"counter(list-number);display: block;color: #089E4A;font-size: 30px;font-weight: 800;line-height: normal;letter-spacing: -1px;text-align: left;}
.sitemapBody > ul > li + li{border-left: 1px solid #DDD;}
.sitemapBody > ul > li > strong{position: relative;min-width: 210px;padding-bottom: 15px; border-bottom: 1px solid #ddd;box-sizing: border-box;color: #222;font-size: 25px;font-weight: 600;line-height: 100%;letter-spacing: -1px;font-family: "Montserrat", serif;transition: all 0.3s;}
.sitemapBody > ul > li > strong:before{content: "";display: block;position: absolute;bottom: -1px;left: 0;width: 60px;height: 1px;background-color:#386d47;}
.sitemapBody > ul > li > strong:after{content: "";display: block;position: absolute;bottom: -1px;left: 0;width: 100%;height: 1px;background-color:#386d47;transform: scaleX(0);transform-origin: left center;transition: transform 400ms ease-in-out;}
.sitemapBody > ul > li:focus > strong:after, .sitemapBody > ul > li:hover > strong:after{transform: scaleX(1);}
.sitemapBody > ul > li > a{display: none;}
.sitemapBody > ul > li > ul{margin-top: 27px;}
.sitemapBody > ul > li > ul > li > a{position: relative;color: #222;font-size: 22px;font-weight: 500;line-height: 250%;transition: all 0.3s;}
.sitemapBody > ul > li > ul > li > a:hover{color: #089E4A;}
.mark{position: absolute;bottom: -40px;right: 7px;width: 300px;height: 302px;display: flex;align-items: center;justify-content: center;z-index: -1;opacity: 0.1;}
.mark .rotating{width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: url(../images/layout/img_spin.png) center center;-webkit-transform: translateZ(0);transform: translateZ(0);-webkit-animation: Rotating 30s linear infinite;animation: Rotating 30s linear infinite;}

#header.show {position: fixed;top: 0;background: #fff;box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.03);opacity: 1;z-index: 100;}
#header.show .logo a:after{opacity: 1;}
#header.show .logo a img{opacity: 0;}
#header.show #gnb > ul > li > a{color: #222;}
#header.show #gnb > ul > li > ul{background: #FFF;border-color: #FFF;box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.03);}
#header.show #gnb > ul > li > ul > li > a{color: #222;}

#footer{position: relative;padding: 50px 0;background: #F5F5F5;box-sizing: border-box;}
#footer .footerInner{display: flex;justify-content: space-between;align-items: center;flex-direction: row;flex-wrap: wrap;max-width: 1600px;width: 100%;margin: 0 auto;padding: 0 50px;box-sizing: border-box;}
.footerInfo{display: flex;}
.footerInfo .footerLogo{margin-right: 85px;}
.footerInfo .footerLogo a{display: block;}
.footerInfo .footerLogo img{vertical-align: bottom;}
.footerInfo ul li strong{color: #222;font-size: 15px;font-weight: 600;line-height: 150%;word-break: keep-all;}
.footerInfo ul li span{color: #222;font-size: 15px;font-weight: 300;line-height: 150%;word-break: keep-all;}
.footerCopy{display: block;margin-top: 13px;color: #222;font-size: 13px;font-weight: 300;line-height: 140%;}
.footerPartners{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;gap: 10px 15px;max-width: 505px;}
.footerPartners a{width: 115px;height: 54px;}
.footerPartners a img{width: 100%;height: 100%;vertical-align: bottom;}
#btnTop{opacity: 0;position: fixed;bottom: 90px;right: 90px;width: 60px;height: 60px;padding-top: 25px;background-color: #FFF;background-image: url(../images/layout/icon_top.svg);background-position: center 10px;background-repeat: no-repeat;border: 2px solid #076932;border-radius: 100%;box-sizing: border-box;color: #076932;font-size: 10px;font-weight: 700;line-height: normal;text-align: center;z-index: 99;transition: .5s;-webkit-transition: .5s;}
#btnTop.show{opacity: 1;}

@media screen and (max-width: 1399px){
    .tabletShow {display: block !important;}
	.tabletShowInline {display: inline-block !important;}
    .tabletHide{display: none !important;}

    .sitemapBody > ul > li > ul{margin-top: 15px;}
    .sitemapBody > ul > li > ul > li > a{font-size: 18px;}

    #footer{padding: 40px 0;}
    #footer .footerInner{flex-direction: column;}
    .footerPartners{margin-top: 20px;max-width: none;}
    #btnTop{right: 5%;}

}
@media screen and (max-width: 1199px){

    #header{height: 80px;padding-right: 0;}
    #header .inner{padding-left: 20px;}
    #header .logo a img, #header .logo a:after{width: 185px;height: 50px;}
    #gnb{display: none;}
    .btnSitemapOpen button{width: 80px;height: 80px;}
    .sitemapHeader{height: 80px;padding-left: 20px;}
    .sitemapHeader .logo a img{width: 185px;height: 50px;}
    .sitemapBody > ul > li:before{font-size: 24px;}
    .sitemapBody > ul > li > strong{min-width: 175px;font-size: 24px;}
    .sitemapBody > ul > li > ul > li > a{font-size: 16px;}
    .sitemapHeader{border-bottom: 1px solid #DDD;}
    .sitemapBody{max-width: 500px;padding: 50px 45px;height: calc(100vh - 80px);overflow-y: auto;box-sizing: border-box;}
    .sitemapBody > ul{align-content: flex-start;}
    .sitemapBody > ul > li{width: 100%;height: auto;padding-top: 0;margin-top: 0;box-sizing: border-box;}
    .sitemapBody > ul > li + li{border-left: 0;}
    .sitemapBody > ul > li:before{font-size: 18px;}
    .sitemapBody > ul > li > strong{display: none;}
    .sitemapBody > ul > li > a{position: relative;display: block;width: 100%;padding-bottom: 20px;margin-bottom: 20px;border-bottom: 1px solid #ddd;box-sizing: border-box;font-size: 24px;color: #222;font-weight: 600;line-height: normal;letter-spacing: -0.6px;}
    .sitemapBody > ul > li > a:before{content: "";display: block;position: absolute;bottom: -1px;left: 0;width: 60px;height: 1px;background-color:#089E4A;}
    .sitemapBody > ul > li > a:after{content: "";display: block;position: absolute;bottom: -1px;left: 0;width: 100%;height: 1px;background-color:#089E4A;transform: scaleX(0);transform-origin: left center;transition: transform 400ms ease-in-out;}
    .sitemapBody > ul > li.on > a:after{transform: scaleX(1);}
    .sitemapBody > ul > li > ul{display: none;width: 100%;margin-bottom: 30px;margin-top: 0;font-size: 0;}
    .sitemapBody > ul > li > ul > li{display: inline-block;width: 50%;}
    .sitemapBody > ul > li > ul > li > a{font-size: 16px;font-weight: 500;line-height: 220%;}
    .btnSitemapClose{width: 80px;height: 80px;}
    .mark{bottom: -60px;right: -25px;transform: scale(0.7);}

    .footerInfo .footerLogo{margin-right: 50px;}
    
}
@media screen and (max-width: 767px){

    .mobileShow {display: block !important;}
	.mobileShowInline {display: inline-block !important;}
    .mobileHide{display: none !important;}

    .sitemapBody{padding: 25px 20px;}
    .mark{bottom: -80px;right: -55px;transform: scale(0.6);}

    #footer{padding: 30px 0;}
    #footer .footerInner{padding: 0 20px;}
    .footerInfo{flex-direction: column;align-items: flex-start;width: 100%;}
    .footerInfo .footerLogo{margin: 0 0 20px;}
    .footerInfo .footerLogo img{width: 90px;height: 60px;}
    .footerInfo ul li strong{display: inline-block;width: 35px;font-size: 13px;vertical-align: top;}
    .footerInfo ul li span{display: inline-block;width: calc(100% - 35px);font-size: 13px;vertical-align: top;}
    .footerCopy{font-size: 12px;}
    .footerPartners{gap: 0;}
    .footerPartners a{width: 25%;height: auto;}
    #btnTop{bottom: 40px;width: 50px;height: 50px;padding-top: 20px;background-size: 14px 15px;}

}

@-webkit-keyframes scrollText {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
}
@-moz-keyframes scrollText {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
}
@-ms-keyframes scrollText {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
}
@-o-keyframes scrollText {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
}
@keyframes scrollText {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
}

@-webkit-keyframes Rotating  {

    from {

        -webkit-transform: rotate(0deg);

                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }

}
@keyframes Rotating  {

    from {

        -webkit-transform: rotate(0deg);

                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }

}