.mobileShow {display: none !important;}
.mobileShowInline {display: none !important;}
.tabletShow {display: none !important;}
.tabletShowInline {display: none !important;}

.scrollLock {overflow: hidden;}
#header{position: fixed;top: 0;left: 0;padding-right: 110px;width: 100%;height: 100px;border-bottom: 1px solid rgba(255, 255, 255, 0.2);box-sizing: border-box;z-index: 99;transition: all 0.5s;}
#header .inner{display: flex;align-items: center;justify-content: space-between;flex-direction: row;flex-wrap: nowrap;max-width: 100%;width: 1600px;padding-left: 50px;margin: 0 auto;box-sizing: border-box;}
#header .logo a{position: relative;display: block;}
#header .logo a img{transition: all 0.5s;vertical-align: bottom;}
#header .logo a:after{content: " ";position: absolute;top: 0;left: 0;width: 242px;height: 65px;background-image: url(../images/layout/logo_color.svg);background-size: contain;background-repeat: no-repeat;opacity: 0;transition: all 0.5s;}
#gnb > ul{display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;width: 780px;height: 100px;align-items: center;}
#gnb > ul > li{position: relative;padding: 0 40px;box-sizing: border-box;}
#gnb > ul > li.active{background: #076932;}
#gnb > ul > li:last-child.active:after{content: "";position: absolute;right: 0;top: 0;display: block;width: 1px;height: 100%;background: rgba(255, 255, 255, 0.1);}
#gnb > ul > li > a{display: flex;justify-content: center;align-items: center;height: 100px;color: #FFF;font-size: 18px;font-weight: 600;line-height: normal;letter-spacing: -1px;text-align: center;font-family: "Montserrat", serif;}
#gnb > ul > li.active > a{color: #FFF !important;font-weight: 600;}
#gnb > ul > li > ul{display: none;position: absolute;top: 100px;min-width: 170px;left: 50%;padding: 15px 0;transform: translateX(-50%);box-sizing: border-box;border-radius: 0px 0px 10px 10px;background: #FFF;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);text-align: center;}
#gnb > ul > li > ul{padding: 15px 0;box-sizing: border-box;}
#gnb > ul > li > ul > li > a{color: #222;font-size: 17px;font-weight: 300;line-height: 36px;}
#gnb > ul > li > ul > li > a:hover{color: #076932;font-weight: 700;}
.btnSitemapOpen{position: absolute;right: 0;top: 0;}
.btnSitemapOpen button{width: 110px;height: 100px;background: #089E4A;}
.btnSitemapOpen button span{position: relative;top: -2px;display: inline-block;width: 20px;height: 2px;background: #fff;transition: all 0.5s;will-change: transform;}
.btnSitemapOpen button span:before, .btnSitemapOpen button span:after{content: "";position: absolute;right: 0;width: 24px;height: 2px;background: #fff;transition: all 0.5s;will-change: transform;}
.btnSitemapOpen button span:before{width: 24px;top: -8px;}
.btnSitemapOpen button span:after{width: 24px;top: 8px;}
.btnSitemapOpen.on button span{top: -4px;width: 26px;transform: rotate(45deg);}
.btnSitemapOpen.on button span:before{top: -6px;width: 50%;right: 25%;transform: rotate(90deg);}
.btnSitemapOpen.on button span:after{top: 6px;width: 50%;right: 25%;transform: rotate(-90deg);}
.sitemapWrap{display: none;position: fixed;left: 0;top: 0;width: 100vw;height: 100vh;padding: 0 0 50px 0;background: #198749;box-sizing: border-box;z-index: 101;}
.sitemapWrap.show{display: block;}
.sitemapHeader{position: relative;display: flex;align-items: center;justify-content: space-between;flex-direction: row;flex-wrap: nowrap;max-width: 100%;width: 1600px;height: 100px;margin: 0 auto;padding-left: 50px;border-bottom: 1px solid rgba(255, 255, 255, 0.2);box-sizing: border-box;}
.sitemapHeader .logo a{display: block;}
.sitemapHeader .logo a img{vertical-align: bottom;}
.btnSitemapClose{position: absolute;right: 0;top: 0;width: 110px;height: 100px;background: rgba(255, 255, 255, 0.2);}
.btnSitemapClose span{position: relative;top: -4px;display: inline-block;width: 26px;height: 2px;background: #fff;transition: all 0.5s;will-change: transform;transform: rotate(45deg);}
.btnSitemapClose span:before, .btnSitemapClose span:after{content: "";position: absolute;right: 0;width: 50%;right: 25%;height: 2px;background: #fff;transition: all 0.5s;will-change: transform;}
.btnSitemapClose span:before{top: -6px;top: -7px;transform: rotate(90deg);}
.btnSitemapClose span:after{top: -6px;top: 7px;transform: rotate(-90deg);}
.sitemapBody{position: relative;width: 100%;max-width: 1600px;margin: 0 auto;height: calc(100% - 100px);display: flex;align-content: center;align-items: center;flex-direction: row;flex-wrap: wrap;}
.sitemapBody > ul{width: 100%;height: 100%;display: flex;flex-direction: row;flex-wrap: wrap;align-items: flex-start;justify-content: center;counter-reset:list-number;}
.sitemapBody > ul > li{display: flex;flex-direction: column;flex-wrap: wrap;align-items: flex-start;text-align: left;align-content: center;width: 25%;height: calc(100% - 60px);padding-top: 60px;margin-top: 60px;box-sizing: border-box;text-align: left;counter-increment: list-number;}
.sitemapBody > ul > li + li{border-left: 1px solid rgba(255, 255, 255, 0.2);}
.sitemapBody > ul > li > strong{position: relative;color: #FFF;font-size: 36px;font-weight: 600;line-height: 170%;letter-spacing: -1px;}
.sitemapBody > ul > li > strong:before{content: "0"counter(list-number);display: block;color: #ABECC7;font-size: 30px;font-weight: 800;line-height: normal;letter-spacing: -1px;text-align: left;}
.sitemapBody > ul > li > a{display: none;}
.sitemapBody > ul > li > ul{margin-top: 27px;}
.sitemapBody > ul > li > ul > li > a{position: relative;color: #FFF;font-size: 22px;font-weight: 500;line-height: 250%;transition: all 0.3s;}
.sitemapBody > ul > li > ul > li > a:before{content: "";display: block;position: absolute;bottom: -2px;left: 0;width: 100%;height: 1px;background-color:#FFF;transform: scaleX(0);transform-origin: left center;transition: transform 300ms ease-in-out;}
.sitemapBody > ul > li > ul > li > a:focus:before, .sitemapBody > ul > li > ul > li > a:hover:before{transform: scaleX(1);}

#header.hide {position: fixed;top: -120px;opacity: 0;z-index: 100;}
#header.on, #header.show {position: fixed;top: 0;background: #fff;box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.03);opacity: 1;z-index: 100;}
#header.on .logo a:after, #header.show .logo a:after{opacity: 1;}
#header.on .logo a img, #header.show .logo a img{opacity: 0;}
#header.on #gnb > ul > li > a, #header.show #gnb > ul > li > a{color: #333;}

#footer{position: relative;padding: 60px 0;background: #0C2611;box-sizing: border-box;}
#footer .footerInner{display: flex;justify-content: flex-start;align-items: center;flex-direction: row;flex-wrap: wrap;max-width: 1600px;width: 100%;margin: 0 auto;padding: 0 50px;box-sizing: border-box;}
#footer .footerLogo{margin: 10px 100px 10px 0;}
#footer .footerLogo a{display: block;}
#footer .footerLogo img{vertical-align: bottom;}
#footer .footerMenu{display: flex;align-items: center;justify-content: flex-start;flex-direction: row;flex-wrap: wrap;margin-bottom: 20px;}
#footer .footerMenu li + li:before{content: "";display: inline-block;width: 1px;height: 12px;margin: 0 15px;background: rgba(255, 255, 255, 0.5);}
#footer .footerMenu li a{color: rgba(255, 255, 255, 0.8);font-size: 15px;font-weight: 500;line-height: 140%;letter-spacing: -0.6px;}
#footer .footerMenu li a:hover{color: #FFF;}
#footer .footerInfo{display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;margin-bottom: 11px;}
#footer .footerInfo li{color: #FFF;font-size: 14px;font-weight: 500;line-height: 150%;word-break: keep-all;}
#footer .footerInfo li + li{margin-left: 15px;}
#footer .footerCopy{color: #FFF;font-size: 13px;font-weight: 200;line-height: 150%;word-break: keep-all;}

#btnTop{opacity: 0;position: fixed;bottom: 90px;right: 90px;width: 60px;height: 60px;padding-top: 25px;background-color: #FFF;background-image: url(../images/layout/icon_top.svg);background-position: center 10px;background-repeat: no-repeat;border: 2px solid #076932;border-radius: 100%;box-sizing: border-box;color: #076932;font-size: 10px;font-weight: 700;line-height: normal;text-align: center;z-index: 99;transition: .5s;-webkit-transition: .5s;}
#btnTop.show{opacity: 1;}

@media screen and (max-width: 1399px){
    .tabletShow {display: block !important;}
	.tabletShowInline {display: inline-block !important;}
    .tabletHide{display: none !important;}

    .sitemapBody > ul > li > ul{margin-top: 15px;}
    .sitemapBody > ul > li > ul > li > a{font-size: 18px;}

    #footer{padding: 50px 0;}
    #footer .footerInner{flex-direction: column;}
    #footer .footerLogo{margin: 0 0 30px;}
    #footer .footerMenu{justify-content: center;}
    #footer .footerInfo{flex-direction: column;}
    #footer .footerInfo li + li{margin-left: 0;margin-top: 10px;}
    #footer .footerCopy{text-align: center;}

    #btnTop{right: 5%;}

}
@media screen and (max-width: 1199px){

    #header{height: 80px;padding-right: 0;}
    #header .inner{padding-left: 20px;}
    #header .logo{margin-top: 10px;}
    #gnb{display: none;}
    .btnSitemapOpen button{width: 80px;height: 80px;}
    .sitemapHeader{height: 80px;padding-left: 20px;}
    .btnSitemapClose{width: 80px;height: 80px;background: rgba(255, 255, 255, 0.2);}
    .sitemapBody{max-width: 500px;padding: 50px 20px;height: calc(100vh - 80px);overflow-y: auto;box-sizing: border-box;}
    .sitemapBody > ul{align-content: flex-start;}
    .sitemapBody > ul > li{width: 100%;height: auto;padding-top: 0;margin-top: 0;box-sizing: border-box;}
    .sitemapBody > ul > li + li{border-left: 0;}
    .sitemapBody > ul > li > strong{display: none;}
    .sitemapBody > ul > li > a{position: relative;display: block;width: 100%;padding-bottom: 20px;margin-bottom: 20px;border-bottom: 1px solid rgba(255, 255, 255, 0.20);box-sizing: border-box;font-size: 22px;color: #fff;font-weight: 600;line-height: normal;letter-spacing: -0.6px;}
    .sitemapBody > ul > li > a:before{content: "0"counter(list-number);display: block;margin-bottom: 5px;color: #ABECC7;font-size: 16px;font-weight: 800;line-height: normal;letter-spacing: -0.6px;text-align: left;}
    .sitemapBody > ul > li > ul{display: none;width: 100%;margin-bottom: 30px;margin-top: 0;font-size: 0;}
    .sitemapBody > ul > li > ul > li{display: inline-block;width: 50%;}
    .sitemapBody > ul > li > ul > li > a{font-size: 15px;font-weight: 500;line-height: 220%;}
    
}
@media screen and (max-width: 767px){

    .mobileShow {display: block !important;}
	.mobileShowInline {display: inline-block !important;}
    .mobileHide{display: none !important;}

    .sitemapBody{max-width: 100%;}

    #footer{padding: 40px 0 50px;}
    #footer .footerInner{padding: 0 20px;}
    #footer .footerMenu li a{font-size: 13px;}
    #footer .footerInfo{margin-bottom: 20px;}
    #footer .footerInfo li{font-size: 13px;text-align: center;}
    #footer .footerInfo li + li{margin-top: 15px;}
    #footer .footerMenu li + li:before{margin: 0 8px;}
    #footer .footerCopy{font-size: 12px;}
    #btnTop{bottom: 40px;width: 50px;height: 50px;padding-top: 20px;background-size: 14px 15px;}

}

@-webkit-keyframes scrollText {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
}
@-moz-keyframes scrollText {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
}
@-ms-keyframes scrollText {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
}
@-o-keyframes scrollText {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
}
@keyframes scrollText {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
}