#main{overflow: hidden;}

#section1 {position: relative;background: #000;overflow: hidden;}
.visualWrap{position: relative;}
.visualSwiper{width: 100%;min-height: 800px;height: 100vh;}
.visualSwiper .swiper-wrapper{display: flex !important;}
.visualSwiper .swiper-slide{position: relative;height: 100%;}
.visualSwiper .visualBg{position: relative;width: 100%;min-height: 800px;height: 100vh;}
.visualSwiper .visualBg:before{content: "";position: absolute;left: 0;top: 0;display: block;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.6);z-index: 1;}
.visualSwiper .visualBg video{position: absolute;left: 0;top: 0;width: 100%;height: 100%;object-fit: cover;}
.visualSwiper .visualText{position: absolute;bottom: 15%;left: 50%;transform: translateX(-50%);max-width: 1600px;width: 100%;padding: 0 50px;box-sizing: border-box;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;align-items: center;z-index: 10;}
.visualSwiper .visualText p{opacity: 0;transition: 0.7s;-webkit-transition: 0.7s;-moz-transition: 0.7s;-ms-transition: 0.7s;-o-transition: 0.7s;}
.visualSwiper .visualText p:nth-child(1){transform: translateX(-1rem);-webkit-transform: translateX(-1rem);-moz-transform: translateX(-1rem);-ms-transform: translateX(-1rem);-o-transform: translateX(-1rem);transition-delay: 0.5s;color: #FFF;font-size: 70px;font-size: 4vw;font-weight: 300;line-height: 100%;letter-spacing: -1px;}
.visualSwiper .visualText p:nth-child(2){transform: translateX(1rem);-webkit-transform: translateX(1rem);-moz-transform: translateX(1rem);-ms-transform: translateX(1rem);-o-transform: translateX(1rem);transition-delay: 1s;color: #FFF;font-size: 52px;font-size: 3vw;font-weight: 300;line-height: 140%;letter-spacing: -1px;word-break: keep-all;text-align: right;}
.visualControl{position: absolute;bottom: 5%;left: 50%;transform: translateX(-50%);max-width: 1600px;width: 100%;padding: 0 50px;box-sizing: border-box;z-index: 1;}
.visualControl .count{text-align: left;color: rgba(255, 255, 255, 0.50);font-size: 16px;font-weight: 700;line-height: normal;}
.visualControl .count .swiper-pagination-current{color: #FFF;}
/* .progress {position: absolute;bottom: 11%;left: 0;width: 100%;height: 3px;background: rgba(255, 255, 255, 0.70);z-index: 1;}
.progressBar {width: 0;height: 100%;background: #006F43;transition: width 0.5s linear;} */

/* .progress:after{content: "";position: absolute;left: 0;bottom: 0;display: block;width: 100%;height: 2px;background: rgba(255, 255, 255, 0.35);}
.progress{position: absolute;bottom: 11%;left: 0;width: 100%;height: 3px;background: rgba(255, 255, 255, 0.70);z-index: 1;}
.progress .progressBar{width: 100%;transition: all 6000ms;-webkit-transition: all 6000ms;-moz-transition: all 6000ms;-ms-transition: all 6000ms;-o-transition: all 6000ms;} */

.pagination {position: absolute;bottom: 11%;left: 0;width: 100%;z-index: 1;}
.pagination button:after{content: "";position: absolute;left: 0;bottom: 0;display: block;width: 100%;height: 2px;background: rgba(255, 255, 255, 0.30);z-index: 0;}
.pagination button{position: absolute;width: 100%;height: auto;background: transparent;opacity: 1;}
.pagination button .bar{display: block;position: relative;width: 0;height: 3px;background: #006F43;overflow: hidden;vertical-align: middle;z-index: 10;}
.pagination button.on .bar{width: 100%;transition: all 6500ms;-webkit-transition: all 6500ms;-moz-transition: all 6500ms;-ms-transition: all 6500ms;-o-transition: all 6500ms;}

.visualSwiper .swiper-slide-active .visualBg video{opacity: 1;}
.visualSwiper .swiper-slide:not(.swiper-slide-active) video{opacity: 0;}
.visualSwiper .swiper-slide-active .visualText p{opacity: 1;transform: none;-webkit-transform: none;-moz-transform: none;-ms-transform: none;-o-transform: none;}

#section2{position: relative;box-sizing: border-box;}
#section2 .inner{padding-top: 100px;box-sizing: border-box;}
.iScrollVerticalScrollbar{display: none !important;}
.fp-scroller{transition-duration: 2s !important;}
.imgMotion{position: relative;padding: 300px 0 400px;}
.imgMotionInner{position: relative;}
.imgMotion .imgGroup{position: absolute;left: 50%;bottom: -70px;transform: translate(-50%, -50%);text-align: center;z-index: 2;}
.imgMotion .imgGroup span{display: block;width: 300px;height: 300px;background: url('../images/main/img_group.jpg') no-repeat 0 0 / auto 300px;animation: imgGroupAni 5s infinite steps(3);}
.imgMotion .imgGroup.active img{-webkit-animation: opacityShow 4s linear 0s infinite;animation: opacityShow 4s linear 0s infinite;}
.imgMotion p{position: relative;color: #222;text-align: center;font-size: 140px;font-size: 7.7vw;font-weight: 700;line-height: normal;letter-spacing: -1px;z-index: 3;}
.imgMotion p.back{width: 29vw;margin: 0 auto;z-index: 1;}
.imgMotion .textGroup{position: relative;}
.imgMotion .text{margin-top: 55px;color: #222;font-size: 45px;font-size: 2.5vw;font-weight: 400;line-height: 160%;}
.imgMotion .text em{color: #089E4A;}

#section3{position: relative;box-sizing: border-box;}
#section3 .inner{height: 100vh;padding-top: 100px;box-sizing: border-box;}
.statusWrap{display: flex;flex-direction: column;flex-wrap: nowrap;align-items: stretch;justify-content: center;width: 100%;height: 75vh;max-height: calc(100vh - 240px);background-image: url(../images/main/bg_status.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;}
.statusWrap .titleGroup{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;margin-bottom: 3%;}
.statusWrap .titleGroup .titleLg{border-right: 1px solid #DDD;box-sizing: border-box;padding-right: 100px;margin-right: 100px;color: #FFF;font-size: 60px;font-size: 3.4vw;font-weight: 800;line-height: 140%;letter-spacing: -1px;}
.statusWrap .titleGroup p{color: #FFF;font-size: 25px;font-size: 1.3vw;font-weight: 400;line-height: 150%;word-break: keep-all;}
.statusWrap .statusList{padding: 60px 0;background: rgba(255, 255, 255, 0.1);}
.statusWrap .statusList ul{display: flex;}
.statusWrap .statusList ul li{display: flex;flex-direction: column;flex-wrap: nowrap;align-items: center;width: 33.33%;}
.statusWrap .statusList ul li span{color: #FFF;font-size: 30px;font-size: 1.9vw;font-weight: 700;line-height: normal;text-shadow: 0 4px 4px rgba(0, 0, 0, 0.40);}
.statusWrap .statusList ul li p{color: #FFF;font-size: 100px;font-size: 6vw;font-weight: 700;line-height: normal;letter-spacing: -1px;text-shadow: 0 4px 4px rgba(0, 0, 0, 0.40);}
.statusWrap .statusList ul li em{color: #FFF;font-size: 22px;font-size: 1.4vw;font-weight: 600;line-height: normal;text-shadow: 0 4px 4px rgba(0, 0, 0, 0.40);}
.movePartners{height: 25vh;min-height: 240px;white-space: nowrap;}
.movePartners .item{display: flex;flex-wrap: nowrap;font-size: 0;width: calc(var(--img-length, 16)*(17vw + 38px));--img-length: 16;-webkit-animation: marquee 60s linear 0s infinite;animation: marquee 60s linear 0s infinite;}
.movePartners .item a{display: inline-flex;width: 17vw;height: auto;margin: 0 19px;aspect-ratio: 15 / 7;}
.movePartners .item a img{display: block;width: 100%;height: 100%;object-fit: cover;vertical-align: bottom;}
    
#section4{position: relative;overflow: hidden;}
#section4 .inner{height: 100vh;padding-top: 100px;box-sizing: border-box;}
#section4 .titleGroup {display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;height: 25vh;min-height: 200px;}
#section4 .titleGroup .titleLg{border-right: 1px solid #ddd;box-sizing: border-box;padding-right: 100px;margin-right: 100px;color: #222;font-size: 60px;font-size: 3.4vw;font-weight: 800;line-height: 140%;letter-spacing: -1px;}
#section4 .titleGroup p{color: #666;font-size: 25px;font-size: 1.3vw;font-weight: 400;line-height: 150%;word-break: keep-all;}
.productsList {width: 100%;height: 75vh;max-height: calc(100vh - 200px);display: flex;}
.productsList li {position: relative;width: 20%;height: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;-webkit-transition: width .4s;transition: width .4s;}
.productsList > li > a{display: none;}
.productsList li.item1 {background-image: url("../images/main/bg_products01.jpg");}
.productsList li.item2 {background-image: url("../images/main/bg_products02.jpg");}
.productsList li.item3 {background-image: url("../images/main/bg_products03.jpg");}
.productsList li.item4 {background-image: url("../images/main/bg_products04.jpg");}
.productsList li.item5 {background-image: url("../images/main/bg_products05.jpg");}
.productsList li:before{content: "";position: absolute;left: 0;top: 0;width: 100%; height: 100%;background: rgba(0, 0, 0, 0.2);-webkit-transition: .5s ease;transition: .5s ease;}
.productsList li dl{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);width: 100%;text-align: center;z-index: 2;-webkit-transition: all 0.5s; transition: all 0.5s;}
.productsList li dl dt em{display: inline-block;width: 5.7vw;height: auto;}
.productsList li dl dt em img{display: block;width: 100%;height: 100%;object-fit: cover;vertical-align: bottom;}
.productsList li dl dt p{margin-top: 30px;color: #FFF;font-size: 50px;font-size: 2.8vw;font-weight: 700;line-height: normal;letter-spacing: -1px;text-align: center;}
.productsList li dl dd{height: 0;opacity: 0;}
.productsList li dl dd a{display: flex;flex-direction: row;justify-content: center;align-items: center;width: 120px;height: 40px;margin: 24px auto 0;border-radius: 50px;background: #006F43;box-sizing: border-box;color: #FFF;text-align: center;font-size: 15px;font-weight: 500;line-height: normal;letter-spacing: -1px;}
.productsList li dl dd a img{margin-left: 8px;}
.productsList li:hover {width: 28%;}
.productsList li:hover:before{background: rgba(0, 0, 0, 0.6);}
.productsList li:hover dd {-webkit-animation: fadeUpBtn 0.6s ease-in-out 1;animation: fadeUpBtn 0.6s ease-in-out 1;animation-fill-mode: forwards;}

@media screen and (max-width: 1199px){

    #section2,
    #section2 .fp-tableCell,
    .fp-scrollable{height: auto !important;}
    #section2 .inner{height: 100%;padding-top: 0;}
    .imgMotion{padding: 100px 0;}
    .imgMotion .imgGroup{bottom: -60px;}
    .imgMotion .imgGroup span{width: 200px;height: 200px;background: url('../images/main/img_groupt.jpg') no-repeat 0 0 / auto 200px;animation: imgGroupAniT 5s infinite steps(3);}

    #section3,
    #section3 .fp-tableCell{height: auto !important;}
    #section3 .inner{height: 100%;padding-top: 0;}
    .movePartners{height: auto;min-height: auto;padding: 40px 0;}

    #section4,
    #section4 .fp-tableCell{height: auto !important;}
    #section4 .inner{height: 100%;padding: 50px 0;}
    #section4 .titleGroup{height: auto;min-height: auto;margin-bottom: 30px;}

}

@media screen and (max-width: 767px){

    .visualSwiper{min-height: 550px;}
    .visualSwiper .visualText{padding: 0 20px;flex-direction: column;align-items: flex-start;}
    .visualSwiper .visualText p:nth-child(1){margin-bottom: 20px;font-size: 36px;}
    .visualSwiper .visualText p:nth-child(2){font-size: 22px;text-align: left;}
    .visualControl{padding: 0 20px;}
    .visualControl .count{font-size: 14px;}

    .imgMotion p{font-size: 56px;}
    .imgMotion .text{font-size: 18px;}
    .imgMotion .imgGroup{bottom: 20px;}
    .imgMotion .imgGroup span{width: 100px;height: 100px;background: url('../images/main/img_groupm.jpg') no-repeat 0 0 / auto 100px;animation: imgGroupAniM 5s infinite steps(3);}
    
    .statusWrap{width: 100%;height: auto;max-height: none;padding: 70px 0;}
    .statusWrap .titleGroup{flex-direction: column;text-align: center;margin-bottom: 20px;padding: 0 10px;box-sizing: border-box;}
    .statusWrap .titleGroup .titleLg{font-size: 32px;border-right: 0;padding-right: 0;margin-right: 0;padding-bottom: 20px;}
    .statusWrap .titleGroup p{font-size: 16px;}
    .statusWrap .statusList{padding: 35px 0;}
    .statusWrap .statusList ul{align-items: stretch;}
    .statusWrap .statusList ul li{text-align: center;}
    .statusWrap .statusList ul li span{font-size: 16px;}
    .statusWrap .statusList ul li p{margin-top: 5px;font-size: 36px;}
    .statusWrap .statusList ul li em{margin-top: 5px;font-size: 13px;}
    .movePartners{height: auto;min-height: auto;padding: 40px 0;}
    .movePartners .item{width: calc(var(--img-length, 16)*(33vw + 6px));-webkit-animation: marquee 30s linear 0s infinite;animation: marquee 30s linear 0s infinite;}
    .movePartners .item a{width: 33vw;margin: 0 3px;}

    #section4 .titleGroup{flex-direction: column;text-align: center;padding: 0 10px;box-sizing: border-box;}
    #section4 .titleGroup .titleLg{font-size: 32px;border-right: 0;padding-right: 0;margin-right: 0;padding-bottom: 20px;}
    #section4 .titleGroup p{font-size: 16px;}
    .productsList{height: auto;max-height: none;display: flex;flex-direction: column;align-items: center;}
    .productsList li{position: relative;width: 100%;height: 175px;}
    .productsList > li > a{position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: block;}
    .productsList li dl dt em{width: 60px;}
    .productsList li dl dt p{margin-top: 5px;font-size: 30px;}
    .productsList li dl dd a{display: none;}
    .productsList li:hover{width: 100%;}
    .productsList li:hover dd{animation-play-state : paused;}
}

/* scroll down */
@-webkit-keyframes scrollDown {
    0%, 100%{bottom: 40px;}
	50% {bottom: 30px;}
}
@keyframes scrollDown {
    0%, 100%{bottom: 40px;}
	50% {bottom: 30px;}
}

@-webkit-keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}
@keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}

@-webkit-keyframes fadeUpBtn {
    0% {
        height: 0;
        opacity: 0;
        transform:  translateY(50px);
    }
    100%{
        height: 40px;
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeUpBtn{
    0% {
        height: 0;
        opacity: 0;
        transform:  translateY(50px);
    }
    100%{
        height: 40px;
        opacity: 1;
        transform: translateY(0px);
    }
}

@-webkit-keyframes marquee {
    from{transform: translateX(0);}
    to{transform: translateX(-50%);}
}
@keyframes marquee {
    from{transform: translateX(0);}
    to{transform: translateX(-50%);}
}

@keyframes imgGroupAni {
    100% {
    	background-position: -900px 0;
    }
}
@keyframes imgGroupAniT {
    100% {
    	background-position: -600px 0;
    }
}
@keyframes imgGroupAniM {
    100% {
    	background-position: -300px 0;
    }
}