#sub{position: relative;width: 100%;min-height: 700px;overflow: hidden;}

#subVisual{position: relative;display: flex;align-items: center;justify-content: center;height: 320px;box-sizing: border-box;text-align: center;z-index: 50;}
#subVisual .visualbg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: -10;overflow: hidden;} 
#subVisual .visualbg:before{content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;width: 100%;height: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;transform: scale(1.2);transform-origin: center center;animation: scale 2s 0.5s forwards;}
#subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01.jpg);}
#subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02.jpg);}
#subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03.jpg);}
#subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04.jpg);}
#subVisual .visualbg.bg05:before{background-image: url(../images/sub/bg_subVisual05.jpg);}
#subVisual .visualbg.bg06:before{background-image: url(../images/sub/bg_subVisual06.jpg);}
#subVisual .visualtext{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);margin-top: 50px;}
#subVisual .visualtext h2{font-size: 44px;color: #FFF;font-weight: 700;line-height: 140%;letter-spacing: -1px;text-align: center;}

#sub .inner{max-width: 1540px;width: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
.snbListWrap{border-bottom: 1px solid #e8e8e8;box-sizing: border-box;}
.snbList{display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;max-width: 1500px;width: 100%;margin: 0 auto;border-left: 1px solid #e8e8e8;box-sizing: border-box;}
.snbList > li{position: relative;width: 250px;border-right: 1px solid #e8e8e8;box-sizing: border-box;}
.snbList > li.home{width: 52px;height: 52px;}
.snbList > li.home a{display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;}
.snbList > li > button{position: relative;display: block;width: 100%;height: 52px;padding: 0 44px 0 20px;box-sizing: border-box;color: #666;font-size: 15px;font-weight: 500;line-height: normal;letter-spacing: -0.6px;text-align: left;}
.snbList > li > button:after{content: "";position: absolute;top: 50%;right: 20px;transform: translateY(-50%);width: 10px;height: 6px;background-image: url(../images/sub/arrow_down_black_md.png);background-size: 100%;background-position: center;background-repeat: no-repeat;transition: all 0.5s;}
.snbList > li.active > button:after{transform: translateY(-50%) rotate(180deg);}
.snbList > li > ul{display: none;position: absolute;top: 52px;left: 50%;transform: translateX(-50%);width: 100%;background: #FFF;border: 1px solid #e8e8e8;box-sizing: border-box;text-align: left;z-index: 50;}
.snbList > li > ul > li + li{border-top: 1px solid #e8e8e8;}
.snbList > li > ul > li > a{position: relative;display: block;width: 100%;padding: 0 20px; box-sizing: border-box;color: #999;font-size: 15px;font-weight: 400;line-height: 50px;letter-spacing: -0.6px;transition: all 0.5s;}
.snbList > li > ul > li > a:hover, .snbList > li > ul > li.on > a{background-color: #f8f8f8;color: #00814e;font-weight: 600;}
.subContent{position: relative;margin: 150px 0 145px;box-sizing: border-box;overflow: hidden;}

.mainColorBg{background-color: #00814e !important;}
.mainColorBd{border-color: #00814e !important;}
.mainColorText{color: #00814e !important;}
.blackColorText{color: #000 !important;}

.greetingVisual{position: relative;height: 450px;height: 0;padding-top: 30%;box-sizing: border-box;text-align: center;}
.greetingVisual img{position: absolute;left: 0;top: 0;width: 100%;height: 100%;object-fit: cover;}
.greetingVisual .text{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 100%;}
.greetingVisual .text p{color: #333;font-size: 45px;font-size: 2.3vw;font-weight: 700;line-height: 150%;letter-spacing: -1px;}
.greetingVisual .text strong{display: block;color: #00814e;font-size: 50px;font-size: 2.6vw;font-weight: 800;line-height: 150%;letter-spacing: -1px;}
.greetingContents{margin-top: 70px;color: #333;font-size: 21px;font-weight: 400;line-height: 180%;letter-spacing: -0.6px;word-break: keep-all;text-align: center;}
.greetingContents .sign{display: block;color: #333;font-size: 20px;font-weight: 500;line-height: normal;letter-spacing: -0.6px;}
.greetingContents .sign span{display: inline-block;margin-left: 5px;color: #333;font-size: 30px;font-weight: 600;line-height: normal;letter-spacing: -0.6px;font-family: "Noto Serif KR";}

.historyWrap{position: relative;padding: 100px 0 160px;margin-top: 25px;}
.historyWrap .scrollBar{width: 2px;height: 100%;background-color: #efefef;position: absolute;top: 0;left: 50%;transform: translateX(-50%);}
.historyWrap .scrollBar .bar { width: 100%; height: 0; background-color: #00814e; position: relative; }
.historyWrap .scrollBar .bar:before { content: ''; position: absolute; bottom: 0; left: 50%; width: 18px; height: 18px; border-radius: 50%; background-color: #00814e; transform: translate(-50%,50%); }
.historyWrap .scrollBar .bar:after { content: ''; position: absolute; bottom: 0; left: 50%; width: 50px; height: 50px; border-radius: 50%; background-color: #00814e; transform: translate(-50%,50%); opacity: 0.1;}
.historyItem { width: 100%; min-height: 350px; position: relative;box-sizing: border-box;}
.historyItem + .historyItem { margin-top: 150px; }
.historyItem > .head { margin-right: 100px; }
.historyItem > .head > .year { font-size: 70px; font-weight: 700; color: #000; margin-bottom: 30px; line-height: 1.25; }
.historyItem > .head > .tit { font-size: 26px; font-weight: 700; color: #00814e; margin-bottom: 40px; line-height: 1.3; }
.historyItem > .head > .img { position: absolute; top: 0; width: 620px; height: 400px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.historyItem > .list { margin-top: 40px; margin-right: 100px; }
.historyItem > .list > li { display: flex; line-height: 1.25; }
.historyItem > .list > li + li { margin-top: 30px; }
.historyItem > .list > li > .date { width: 120px; flex: none; font-size: 22px; font-weight: 700; color: #000; }
.historyItem > .list > li > .text { width: 100%; font-size: 22px; color: #333; word-break: keep-all;}
.historyItem:nth-child(odd) { padding-left: 50%; }
.historyItem:nth-child(even) { padding-right: 50%; }
.historyItem:nth-child(odd) > .head { padding-left: 100px; }
.historyItem:nth-child(even) > .head { padding-left: 80px; }
.historyItem:nth-child(odd) > .head > .img { left: 0 }
.historyItem:nth-child(even) > .head > .img { right: 0; }
.historyItem:nth-child(odd) > .list { padding-left: 100px; }
.historyItem:nth-child(even) > .list { padding-left: 80px; }

.ciArea{display: flex;justify-content: center;align-items: center;height: 360px;margin-bottom: 80px;padding: 20px 200px;border-radius: 10px;box-sizing: border-box;background-color: #fafafa;text-align: center;}
.itemGroup{display: flex;flex-direction: row;flex-wrap: wrap;align-items: flex-start;justify-content: flex-start;}
.itemGroup + .itemGroup{margin-top: 100px;}
.itemGroup dt{width: 420px;font-size: 40px;color: #000;font-weight: 700;line-height: 1.4;text-align: left;}
.itemGroup dd{width: calc(100% - 420px);margin-top: 15px;}
.itemGroup dd .txt{font-size: 20px;color: #333;line-height: 1.8;text-align: left;word-break: keep-all;}
.signatureGroup{margin-top: 60px;}
.signatureGroup > li {display: flex;flex-direction: row;flex-wrap: wrap;align-items: flex-start;justify-content: flex-start;padding: 50px;border: 1px solid #e8e8e8;border-radius: 10px;background-color: #fff;box-sizing: border-box;}
.signatureGroup > li + li{margin-top: 40px;}
.signatureGroup > li > p {width: 230px;font-size: 24px;color: #000;font-weight: 700;line-height: 1.667;text-align: left;}
.signatureGroup > li > .img {width: calc(100% - 230px);}
.colorGroup{display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;margin-top: 40px;}
.colorGroup > li{display: flex;flex-direction: column;align-items: flex-start;justify-content: space-between;width: 33.3%;height: 220px;padding: 40px 35px;box-sizing: border-box;}
.colorGroup > li:nth-child(1){background: #73c3d5;}
.colorGroup > li:nth-child(2){background: #006e43;}
.colorGroup > li:nth-child(3){background: #2c9942;}
.colorGroup > li > p{font-size: 24px;color: #fff;font-weight: 700;line-height: 1.25;text-align: left;}
.colorGroup > li > ul > li{display: flex;}
.colorGroup > li > ul > li > span{font-size: 18px;color: #fff;line-height: 1.556;}
.colorGroup > li > ul > li > span:nth-child(1){width: 72px;font-weight: 700;}
.colorGroup > li > ul > li > span:nth-child(2){width: calc(100% - 72px);}

.veganeducationWrap > h5{font-size: 34px;color: #000;font-weight: 700;line-height: 1.529;text-align: center;word-break: keep-all;}
.veganeducationWrap > h5 > span{color: #00814e;}
.veganeducationList{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;align-items: flex-start;gap: 0 40px;margin-top: 80px;}
.veganeducationList li{width: calc(50% - 20px);margin-bottom: 100px;}
.veganeducationList li .img img{width: 100%;vertical-align: bottom;}
.veganeducationList li .text{margin-top: 40px;}
.veganeducationList li .text strong{font-size: 28px;color: #000;font-weight: 700;line-height: 1.429;text-align: left;}
.veganeducationList li .text p{position: relative;padding-left: 10px;margin-top: 20px;font-size: 20px;color: #000;line-height: 1.5;text-align: left;word-break: keep-all;}
.veganeducationList li .text p:before{content: "·";position: absolute;left: 0;top: 0;color: #00814e;}
.veganeducationWrap > .info{width: 100%;padding: 30px;border-radius: 20px;background-color: rgb(248, 248, 248);box-sizing: border-box;font-size: 22px;color: #333;font-weight: 700;line-height: 1.818;text-align: center;word-break: keep-all;}
.veganeducationWrap > .info > span{color: #00814e;}

.boardTitle{margin-bottom: 120px;}
.boardTitle h4{font-size: 40px;color: #000;font-weight: 700;line-height: 1.4;text-align: left;word-break: keep-all;}
.boardTitle p{font-size: 20px;color: #333;line-height: 1.8;text-align: left;word-break: keep-all;}
.textSm{font-size: 20px;color: #333;line-height: 1.5;text-align: left;word-break: keep-all;}
.textMd{margin-top: 70px;font-size: 28px;color: #000;line-height: 1.5;font-weight: 700;text-align: left;word-break: keep-all;}
.tabList{position: relative;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: center;box-sizing: border-box;margin-bottom: 100px;}
.tabList a{display: flex;align-items: center;justify-content: center;flex: 1 auto;height: 80px;background: #f2f7f5;border: 1px solid #f2f7f5;box-sizing: border-box;font-size: 20px;color: #83a99a;font-weight: 700;line-height: 1;text-align: center;word-break: keep-all;}
.tabList a.active{position: relative;background: #FFF;border: 1px solid #00814e;color: #00814e;}
.tabContents{display: none;}
.tabContents.active{display: block;}
.dotList > li{position: relative;padding-left: 8px;color: #666;font-size: 16px;font-weight: 400;line-height: 1.5;word-break: keep-all;text-align: left;}
.dotList > li + li{margin-top: 5px;}
.dotList > li:before{content: "";position: absolute;top: 11px;left: 0;display: block;width: 2px;height: 2px;background: #666;border-radius: 100%;}
.dotList.green > li{padding-left: 10px;color: #333;font-size: 20px;}
.dotList.green > li:before{top: 14px;background: #00814e;}
.tabList:has(+ .dotList){margin-bottom: 0;}
.tabList + .dotList{margin: 30px 0 100px;}

.boardHeader{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: space-between;}
.boardHeader .totalGroup{display: flex;align-items: flex-end;}
.boardHeader .totalGroup strong{font-size: 30px;color: #000;font-weight: 700;line-height: 1.2;text-align: left;}
.boardHeader .totalGroup h4{font-size: 30px;color: #000;font-weight: 700;line-height: 1.2;text-align: left;}
.boardHeader .totalGroup p{margin-left: 20px;font-size: 18px;color: #000;line-height: 1.5;text-align: left;}
.boardHeader .totalGroup p span{color: #00814e;font-weight: 600;}
.boardHeader .boardSearchGroup{display: flex;align-items: center;justify-content: space-between;width: 500px;height: 60px;padding: 0 10px 0 25px;background: #f8f8f8;border-radius: 60px;box-sizing: border-box;}
.boardHeader .boardSearchGroup .sortSelect{width: 100px;height: 60px;padding-left: 10px;background-color: transparent;box-sizing: border-box;font-size: 16px;color: #000;line-height: 1.2;text-align: left;}
.boardHeader .boardSearchGroup .searchText{width: calc(100% - 160px);height: 60px;padding: 0 10px 0 25px;background: transparent;border: 0;font-size: 16px;color: #000;line-height: 1.2;text-align: left;}
.boardHeader .boardSearchGroup .searchText::placeholder{color: #999;}
.boardHeader .boardSearchGroup .btnSearch{width: 60px;height: 60px;background-image: url(../images/sub/icon_search.png);background-position: center;background-size: 23px;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.boardHeader .boardControl{display: flex;gap: 30px;}
.boardHeader .boardControl .sortSelect{width: 120px;height: 40px;background-image: url(../images/sub/arrow_down_black_lg.png);font-size: 18px;color: #000;line-height: 1.2;}
.boardHeader + .faqList{margin-top: 20px;}
.faqList ul{border-top: 2px solid #000;box-sizing: border-box;}
.faqList ul li.question{border-bottom: 1px solid #e8e8e8;box-sizing: border-box;}
.faqList ul li.question a{position: relative;display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;width: 100%;height: auto;min-height: 90px;padding: 0 40px 0 0;box-sizing: border-box;}
.faqList ul li.question .cate{width: 170px;padding: 0 50px;box-sizing: border-box;font-size: 18px;color: #666;line-height: 1.2;text-align: left;word-break: keep-all;}
.faqList ul li.question .title{width: calc(100% - 170px);padding: 0 50px;box-sizing: border-box;font-size: 22px;color: #000;font-weight: 700;line-height: 1.636;text-align: left;word-break: keep-all;}
.faqList ul li.question .title:after{content: "";position: absolute;right: 40px;top: 50%;width: 20px;height: 12px;margin-top: -6px;background-image: url(../images/sub/icon_faq_arr.png);background-position: center;background-repeat: no-repeat;}
.faqList ul li.answer{display: none;padding: 40px 50px;background: #f8f8f8;box-sizing: border-box;font-size: 20px;color: #333;line-height: 1.8;text-align: left;word-break: keep-all;}
.faqList ul li.question.open + .answer{display: block;}
.faqList ul li.question.open .title:after{transform: rotate(180deg);opacity: 0.3;}
.tableList {position: relative;width: 100%;border-top: 2px solid #292C35;border-spacing: 0;border-collapse: separate;margin-top: 25px;}
.tableList thead tr:last-child > * {border-bottom: 1px solid #e8e8e8;}
.tableList th, .tableList td {height: 60px;padding: 0 10px;box-sizing: border-box;font-size: 15px;text-align: center;}
.tableList th {position: relative;background: #f8f8f8;color: #000;font-weight: 700;}
.tableList td {border-bottom: 1px solid #e8e8e8;color: #666;}
.tableList .btnView{padding-right: 22px;background-image: url(../images/sub/icon_search_green_sm.png);background-position: right center;background-repeat: no-repeat;box-sizing: border-box;font-size: 15px;color: #00814e;font-weight: 700;line-height: 1.2;}
.tableList td.secret a{padding-left: 25px;background-image: url(../images/sub/icon_secret.png);background-position: left top;background-repeat: no-repeat;}
.storeList{display: flex;}  
.storeList li + li:before{content: "";display: inline-block;width: 1px;height: 10px;background: #bbb;margin: 0 8px;}  

/* paging */
.paging {margin-top: 80px;text-align: center;font-size: 0;}
.paging a, .paging strong{display: inline-block;width: 38px;height: 38px;line-height: 36px;margin: 0 6px;box-sizing: border-box;font-size: 16px;color: #000;font-weight: 400;vertical-align: middle;text-decoration: none;}
.paging strong{background:#000;border-radius: 100%;color: #fff;}
.paging #pagePrev, .paging #pageNext{display: inline-block;background-image: url(../images/sub/icon_prev.png);background-position: center;background-repeat: no-repeat;box-sizing: border-box;overflow: hidden;text-indent: -9999px;white-space: nowrap;vertical-align: middle;}
.paging #pagePrev{margin-left: 0;}
.paging #pageNext{margin-right: 0;transform: rotate(180deg);}
.paging #pageFirst, .paging #pageLast{display: inline-block;background-image: url(../images/sub/icon_first.png);background-position: center;background-repeat: no-repeat;box-sizing: border-box;overflow: hidden;text-indent: -9999px;white-space: nowrap;vertical-align: middle;}
.paging #pageFirst{margin-left: 0;}
.paging #pageLast{margin-right: 0;transform: rotate(180deg);}

.barTitle{position: relative;padding-top: 20px;}
.barTitle:before{content: "";display: block;position: absolute;top: 0;left: 0;width: 32px;height: 2px;background: #000;}
.barTitle strong{font-size: 40px;color: #000;font-weight: bold;line-height: 1.4;text-align: left;}
.barTitle strong span{font-size: 28px;}
.barTitle p{margin-top: 40px;font-size: 28px;color: #333;line-height: 1.429;text-align: left;word-break: keep-all;}
.certifiedProduct{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;gap: 40px;margin: 50px 0 100px;}
.certifiedProduct li{flex: 1 auto;height: 220px;padding: 50px 130px 45px 45px;border-radius: 20px;box-sizing: border-box;background-color: #f8f8f8;background-position: 95% 80%;background-repeat: no-repeat;}
.certifiedProduct li:nth-child(1){width: 360px;background-image: url(../images/sub/icon_product01.png);}
.certifiedProduct li:nth-child(2){width: 510px;background-image: url(../images/sub/icon_product02.png);}
.certifiedProduct li:nth-child(3){width: 550px;background-image: url(../images/sub/icon_product03.png);}
.certifiedProduct li .tit{font-size: 24px;color: #00814e;font-weight: 700;line-height: 1;text-align: left;}
.certifiedProduct li .num{margin-top: 25px;font-size: 80px;color: #333;font-weight: 700;line-height: 0.7;text-align: left;}
.certifiedProduct li .num span{font-size: 24px;}
.graphArea{margin-top: 95px;}
.graphArea img{width: 100%;}

.thumbWrap{position: relative;margin-bottom: 100px;}
.thumbWrap .inner{position: relative;}
.thumbWrap .title{padding-top: 14px;font-size: 40px;color: #000;font-weight: 700;line-height: 1.4;text-align: left;word-break: keep-all;}
.thumbWrap .thumbSliderArrow{position: absolute;right: 0;top: 0;}
.thumbWrap .thumbSliderArrow button{display: inline-block;width: 68px;height: 68px;line-height: 68px;border: 1px solid #e8e8e8;background-image: url(../images/sub/icon_slider_prev.png);background-position: center;background-repeat: no-repeat;border-radius: 50%;box-sizing: border-box;overflow: hidden;text-indent: -9999px;white-space: nowrap;vertical-align: middle;}
.thumbWrap .thumbSliderArrow button + button{margin-left: 15px;}
.thumbWrap .thumbSliderArrow .next{transform: rotate(180deg);}
.thumbSlider{max-width: 1540px;width: 100%;margin: 60px auto 0;padding: 0 20px;box-sizing: border-box;}
.thumbSlider .swiper-slide{width: 300px;}
.thumbWrap .btnGroup{text-align: center;margin-top: 80px;padding-top: 60px;border-top: 1px solid #e8e8e8;box-sizing: border-box;}
.thumbWrap .btnGroup a{display: inline-block;padding: 30px 100px;border: 1px solid #ddd;border-radius: 100px;box-sizing: border-box;background-color: #fff;font-size: 22px;color: #000;line-height: 1.2;text-align: center;}

.certifiedTotal{position: relative;margin-bottom: 55px;font-size: 30px;color: #000;font-weight: 700;line-height: 1.2;text-align: center;}
.certifiedTotal .total{color: #00814e;text-decoration: underline;}
.certifiedTotal .tooltipWrap{position: relative;display: inline-block;}
.certifiedTotal .btnTooltip{display: inline-block;width: 26px;height: 26px;margin-left: 10px;background-image: url(../images/sub/icon_tooltip.png);background-position: center;background-repeat: no-repeat;box-sizing: border-box;overflow: hidden;text-indent: -9999px;white-space: nowrap;vertical-align: -4px;}
.certifiedTotal .tooltipBox{display: none;position: absolute;left: 60px;top: 50%;transform: translateY(-50%);width: 410px;padding: 22px 20px;background-color: #FFF;box-sizing: border-box;box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);}
.certifiedTotal .tooltipBox::before{content: "";position: absolute;width: 0;height: 0;left: -10px;top: 50%;margin-top: -9px;border-right: 10px solid #FFF;border-top: 9px solid transparent;border-bottom: 9px solid transparent;}
.certifiedTotal .btnTooltip.open + .tooltipBox{display: block;}
.certifiedTotal .tooltipBox .dotList li{position: relative;padding-left: 18px;font-size: 13px;color: #666;line-height: 1.692;text-align: left;font-weight: 400;word-break: keep-all;}
.certifiedTotal .tooltipBox .dotList li:before {content: "";position: absolute;top: 10px;left: 10px;display: block;width: 2px;height: 2px;background: #666;border-radius: 100%;}

.searchHeader{display: flex;justify-content: center;padding: 50px 0;background: #f4f4f4;box-sizing: border-box;}
.searchHeader .searchGroup{display: flex;align-items: center;justify-content: space-between;width: 700px;height: 60px;padding: 0 10px 0 25px;background: #FFF;border-radius: 60px;box-sizing: border-box;}
.searchHeader .searchGroup .searchText{width: calc(100% - 60px);height: 60px;padding: 0 10px 0 25px;background: transparent;border: 0;font-size: 20px;color: #000;line-height: 1.2;text-align: left;}
.searchHeader .searchGroup .searchText::placeholder{color: #999;}
.searchHeader .searchGroup .btnSearch{width: 60px;height: 60px;background-image: url(../images/sub/icon_search.png);background-position: center;background-size: 23px;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.searchValue{margin-bottom: 100px;font-size: 34px;color: #000;font-weight: 700;line-height: 1.529;text-align: center;}
.searchValue span{color: #00814e;font-weight: 700;}
.searchBody .searchItem + .searchItem{margin-top: 100px;}
.searchBody .searchItem .tit{margin-bottom: 30px; font-size: 30px;color: #000;font-weight: 700;line-height: 1.2;text-align: left;}
.searchBody .searchItem .btnGroup{margin-top: 60px;text-align: center;}
.searchBody .searchItem .btnGroup a{display: inline-block;padding: 30px 100px;border: 1px solid #ddd;border-radius: 100px;box-sizing: border-box;background-color: #fff;font-size: 22px;color: #000;line-height: 1.2;text-align: center;}
.searchBody .searchItem .tableList th{display: none;}
.searchBody .searchItem .tableList td {height: 90px;font-size: 22px;color: #000;font-weight: 600;}
.searchBody .searchItem .tableList .link{text-align: left;}
.searchBody .searchItem .tableList .btnView{padding-right: 30px;background-image: url(../images/sub/icon_search_green_md.png);font-size: 22px;}
.searchBody .searchItem .tableList .iconFile{padding-right: 38px;background-image: url(../images/sub/icon_file.png);background-position: right center;background-repeat: no-repeat;box-sizing: border-box;font-size: 22px;color: #00814e;font-weight: 700;line-height: 1.636;}
.boardthumbList ul{border-top: 2px solid #000;box-sizing: border-box;}
.boardthumbList ul li{border-bottom: 1px solid #e8e8e8;box-sizing: border-box;}
.boardthumbList ul li a{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: center;padding: 30px;box-sizing: border-box;}
.boardthumbList .imgArea{width: 300px;}
.boardthumbList .imgArea img{width: 100%;}
.boardthumbList .infoArea{width: calc(100% - 360px);margin-left: 60px;}
.boardthumbList .infoArea .title{font-size: 22px;color: #000;font-weight: 700;line-height: 1.636;text-align: left;word-break: keep-all;}
.boardthumbList .infoArea .text{margin-top: 20px;font-size: 16px;color: #333;text-align: left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;white-space: normal;line-height: 1.75;height: 5.25em;text-align: left;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;word-break: keep-all;}
.boardthumbList .infoArea .date{margin-top: 20px;font-size: 16px;color: #000;font-weight: 700;line-height: 1.2;text-align: left;}

.galleryboardList{display: flex;flex-direction: row;flex-wrap: wrap;margin-top: 20px;padding: 50px 0;border-top: 2px solid #000;border-bottom: 1px solid #e8e8e8;box-sizing: border-box;}
.galleryboardList li{width: calc(33.3% - 20px);margin-left: 30px;margin-top: 50px;}
.galleryboardList li:nth-child(3n+1){margin-left: 0;}
.galleryboardList li:nth-child(-n+3){margin-top: 0;}
.galleryboardList li a{position: relative;display: block;border: 1px solid #e8e8e8;box-sizing: border-box;}
.galleryboardList li .imgArea{position: relative;width: 100%;height: 0;padding-top: 60%;overflow: hidden;}
.galleryboardList li .imgArea img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
.galleryboardList li .infoArea{padding: 37px 30px 40px;background: #FFF;border-top: 1px solid #e8e8e8;box-sizing: border-box;}
.galleryboardList li .infoArea .title{font-size: 24px;color: #000;font-weight: 700;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;white-space: normal;height: 3em;text-align: left;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.galleryboardList li .infoArea .text{margin: 18px 0;font-size: 18px;color: #666;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;white-space: normal;height: 3em;text-align: left;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.galleryboardList li .infoArea .date{font-size: 16px;color: #999;font-weight: 400;line-height: normal;letter-spacing: -0.6px;}
.galleryboardList li a:hover .infoArea .title{color: #00814e;text-decoration: underline;}

.boardView{border-top: 2px solid #000;box-sizing: border-box;}
.boardViewHeader{padding: 50px;border-bottom: 1px solid #e8e8e8;box-sizing: border-box;text-align: center;}
.boardViewHeader .label{font-size: 18px;color: #00814e;font-weight: 600;line-height: 1.5;letter-spacing: -0.6px;text-align: center;}
.boardViewHeader .title{margin-top: 10px;font-size: 30px;color: #000;font-weight: 600;line-height: 1.2;text-align: center;word-break: keep-all;}
.boardViewHeader .date{margin-top: 15px;font-size: 18px;color: #999;font-weight: 400;line-height: 1.5;letter-spacing: -0.6px;text-align: center;}
.boardViewbody{padding: 50px;box-sizing: border-box;}
.boardNav{border-top: 1px solid #e8e8e8;border-bottom: 1px solid #e8e8e8;box-sizing: border-box;}
.boardNav li{display: flex;align-items: center;justify-content: flex-start;flex-direction: row;flex-wrap: nowrap;}
.boardNav li + li{border-top: 1px solid #e8e8e8;}
.boardNav li p{display: flex;align-items: center;justify-content: center;width: 200px;height: 60px;background: #F9F9F9;font-size: 16px;color: #000;font-weight: 500;vertical-align: middle;letter-spacing: -1px;}
.boardNav li a{position: relative;width: calc(100% - 200px);padding-left: 40px;box-sizing: border-box;vertical-align: middle;font-size: 16px;color: #333;font-weight: 400;letter-spacing: -0.6px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.boardBtnGroup{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: flex-end;margin-top: 50px;}
.boardBtnGroup button, .boardBtnGroup a{display: inline-flex;justify-content: center;align-items: center;width: 140px;height: 50px;background: #fff;border: 1px solid #00814e;border-radius: 50px;box-sizing: border-box;font-size: 16px;color: #00814e;font-weight: 600;letter-spacing: -1px;transition: .3s;-webkit-transition: .3s;}
.boardBtnGroup button + button, .boardBtnGroup a + a{margin-left: 10px;}
.boardBtnGroup button:hover, .boardBtnGroup a:hover{background: #00814e;border: 1px solid #00814e;color: #FFF;}

.certifiedIntroduction{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;align-items: flex-start;margin-top: 50px;}
.certifiedIntroduction .textArea{width: 700px;width: 46.667%;font-size: 20px;color: #333;line-height: 1.8;text-align: left;word-break: keep-all;}
.certifiedIntroduction .imgArea{width: 660px;width: 44%;}
.certifiedIntroduction .imgArea img{width: 100%;}

.numList{counter-reset: number 0;}
.numList > li{position: relative;margin-top: 60px;padding-left: 40px;font-size: 28px;color: #333;font-weight: 700;line-height: 1.4;text-align: left;word-break: keep-all;}
.numList > li:before{content: counter(number);counter-increment: number 1;position: absolute;top: 5px;left: 0;width: 30px;height: 30px;border-radius: 50%;background-color: #00814e;font-size: 20px;color: #FFF;font-weight: 700;line-height: 1.5;text-align: center;}

.dataTable{border-top: 1px solid #333;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;box-sizing: border-box;}
.dataTable th, .dataTable td {height: 72px;padding: 10px 20px;border-top: 1px solid #ddd;border-left: 1px solid #ddd;box-sizing: border-box;color: #333;font-size: 20px;font-weight: 400;line-height: 150%;letter-spacing: -0.8px;text-align: center;word-break: keep-all;}
.dataTable th {background-color: #f8f8f8;color: #333;font-weight: 700;}
.dataTable thead tr:first-child > * {border-top: 0;}
.dataTable colgroup + tbody > tr:first-child > * {border-top: 0;}

.certifiedCate{display: flex;flex-direction: row;flex-wrap: wrap;gap: 45px;margin-top: 40px;}
.certifiedCate li{position: relative;width: calc(33.33% - 30px);}
.certifiedCate li img{vertical-align: bottom;}
.certifiedCate li p{position: absolute;left: 40px;top: 40px;font-size: 28px;color: #FFF;font-weight: 700;line-height: 1.5;text-align: left;}
.processWrap{position: relative;margin-top: 60px;padding: 120px 50px 120px 120px;border-radius: 50px;background-color: #f8f8f8;box-sizing: border-box;}
.processWrap ul:before{content: "";position: absolute;left: 140px;top: 50%;transform: translateY(-50%);width: 120px;height: 1358px;background-image: url(../images/sub/bg_process.png);background-position: center;background-repeat: no-repeat;z-index: 0;}
.processWrap ul li{position: relative;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: center;}
.processWrap ul li + li{margin-top: 60px;}
.processWrap .iconArea{width: 160px;}
.processWrap .iconArea img{vertical-align: bottom;}
.processWrap .textArea{width: calc(100% - 160px);padding-left: 60px;box-sizing: border-box;text-align: left;}
.processWrap .textArea .title{font-size: 36px;color: #333;font-weight: 700;line-height: 1.3;word-break: keep-all;}
.processWrap .textArea .text{margin-top: 15px;font-size: 22px;color: #333;line-height: 1.6;word-break: keep-all;}
.processWrap .textArea .text span{display: inline-block;margin-right: 15px;padding: 1px 14px;border: 1px solid #00814e;border-radius: 20px;box-sizing: border-box;font-size: 20px;color: #00814e;text-align: center;}

.managementList{margin-top: 80px;padding: 0 20px;box-sizing: border-box;}
.managementList > li{position: relative;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: center;}
.managementList > li + li{margin-top: 60px;}
.managementList .iconArea{width: 160px;}
.managementList .iconArea img{vertical-align: bottom;}
.managementList .textArea{width: calc(100% - 160px);padding-left: 60px;box-sizing: border-box;text-align: left;}
.managementList .textArea .title{font-size: 28px;color: #000;font-weight: 700;line-height: 1.3;word-break: keep-all;}

.boardForm {position: relative;width: 100%;margin: 25px 0 50px;border-top: 2px solid #292C35;border-bottom: 1px solid #e8e8e8;border-spacing: 0;border-collapse: separate;box-sizing: border-box;}
.boardForm th, .boardForm td {height: 60px;padding: 15px;box-sizing: border-box;}
.boardForm th {position: relative;background: #f8f8f8;border-right: 1px solid #e8e8e8;border-top: 1px solid #e8e8e8;font-size: 15px;color: #000;font-weight: 700;letter-spacing: -1px;text-align: center;}
.boardForm td {border-top: 1px solid #e8e8e8;font-size: 14px;color: #666;font-weight: 400;text-align: left;}
.boardForm td input, .boardForm td select{width: 250px;height: 44px;border-radius: 5px;color: #666;font-weight: 400;text-align: left;}
.secretArea{display: inline-block;padding: 10px;border-radius: 5px;border: 1px solid #DCDCDC;box-sizing: border-box;}
.boardForm textarea{height: 200px;border-radius: 5px;color: #666;font-weight: 400;text-align: left;}
.filebox .upload-name {display: inline-block;width: 50%;height: 44px;padding: 0 10px;border: 1px solid #DCDCDC;box-sizing: border-box;vertical-align: middle;color: #666;}
.filebox label {display: inline-block;height: 44px;padding: 0 20px;border-radius: 5px;box-sizing: border-box;color: #fff;vertical-align: middle;background-color: #00814e;cursor: pointer;margin-left: 10px;font-size: 15px;font-weight: 700;line-height: 44px;}
.filebox input[type="file"] {position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;font-size: 15px;}
.fileList{display: flex;align-items: stretch;justify-content: flex-start;flex-direction: row;flex-wrap: nowrap;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;box-sizing: border-box;}
.fileList > strong{display: flex;align-items: center;justify-content: center;width: 200px;background: #F9F9F9;font-size: 16px;color: #000;font-weight: 500;vertical-align: middle;letter-spacing: -1px;}
.fileList > ul{position: relative;width: calc(100% - 200px);box-sizing: border-box;}
.fileList > ul > li{display: flex;align-items: center;justify-content: flex-start;min-height: 60px;padding: 0 20px;box-sizing: border-box;}
.fileList > ul > li + li{border-top: 1px solid #ddd;}
.fileList > ul > li > a{font-size: 16px;color: #333;font-weight: 400;letter-spacing: -0.6px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.replyWrap{padding: 20px;border-top: 1px solid #ddd;box-sizing: border-box;}
.replyTit{display: block;margin-bottom: 10px; font-size: 18px;color: #00814e;font-weight: 600;line-height: 1.5;letter-spacing: -0.6px;text-align: left;}
.replyCon{font-size: 16px;color: #333;font-weight: 400;line-height: 1.5;letter-spacing: -0.6px;text-align: left;}

@media screen and (max-width: 1499px){

    .subContent{margin: 80px 0 100px;}

    .greetingVisual .text p{font-size: 2.8vw;}
    .greetingVisual .text strong{font-size: 3vw;}
    .greetingContents{font-size: 18px;}
    .greetingContents .sign{font-size: 17px;}
    .greetingContents .sign span{font-size: 26px;}

    .historyItem + .historyItem{margin-top: 100px;}
    .historyItem > .head{margin-right: 50px;}
    .historyItem > .head > .year{font-size: 60px;}
    .historyItem > .head > .img{width: 450px;height: 290px;}
    .historyItem > .list{margin-right: 50px;}
    .historyItem > .list > li > .date{font-size: 18px;}
    .historyItem > .list > li > .text{font-size: 18px;}
    .historyItem:nth-child(odd) > .head{padding-left: 50px;}
    .historyItem:nth-child(even) > .head {padding-left: 50px;}
    .historyItem:nth-child(odd) > .list{padding-left: 50px;}
    .historyItem:nth-child(even) > .list {padding-left: 50px;}
    .historyItem:nth-child(odd) > .head > .img {left: 50px;}
    .historyItem:nth-child(even) > .head > .img {right: 50px;}

    .itemGroup dt{width: 300px;}
    .itemGroup dd{width: calc(100% - 300px);}

    .certifiedIntroduction{margin-top: 40px;}
    .certifiedIntroduction .textArea{width: 60%;font-size: 18px;line-height: 1.6;}
    .certifiedIntroduction .imgArea{width: 35%;}
 
    .processWrap{padding: 100px 50px;}
    .processWrap ul:before{left: 74px;}
    .processWrap .textArea .text span{margin-bottom: 10px;}

    .faqList ul li.question .title{font-size: 20px;}
    .searchBody .searchItem .tableList td{font-size: 20px;}
}

@media screen and (max-width: 1199px){

    #subVisual{padding-top: 25%;}
    #subVisual .visualtext{margin-top: 40px;}
    #subVisual .visualtext h2{font-size: 36px;}

    .greetingContents{margin-top: 50px;font-size: 16px;}

    .historyWrap{margin-top: 0;padding: 0;}
    .historyWrap .scrollBar{display: none;}
    .historyItem{display: block;padding: 0 !important;}
    .historyItem + .historyItem{margin-top: 50px;}
    .historyItem > .head{display: flex;flex-direction: column;padding: 0 !important;margin: 0;}
    .historyItem > .head > .year{order: 2;margin: 30px 0 10px;font-size: 50px;}
    .historyItem > .head > .tit{order: 3;margin-bottom: 20px;}
    .historyItem > .head > .img{order: 1;position: static;width: 50%;height: 0;padding-top: 32.1%;}
    .historyItem > .list{margin-right: 0;margin-top: 0;}
    .historyItem > .list > li + li{margin-top: 20px;}
    .historyItem > .list > li > .date{width: 100px;}
    .historyItem:nth-child(odd) > .list{padding-left: 0;}
    .historyItem:nth-child(even) > .list{padding-left: 0;}

    .ciArea{height: 280px;margin-bottom: 50px;}
    .itemGroup + .itemGroup{margin-top: 80px;}
    .itemGroup dt{width: 100%;font-size: 32px;}
    .itemGroup dd{width: 100%;margin-top: 30px;}
    .itemGroup dd .txt{font-size: 18px;}    
    .signatureGroup{margin-top: 40px;}
    .signatureGroup > li + li{margin-top: 30px;}
    .colorGroup > li{padding: 30px;}

    .veganeducationWrap > h5{font-size: 26px;}
    .veganeducationList{margin-top: 60px;}
    .veganeducationWrap > .info{font-size: 18px;}

    .boardTitle{margin-bottom: 80px;}
    .tabList{margin-bottom: 80px;}
    .tabList a{height: 66px;font-size: 18px;}

    .paging{margin-top: 65px;}
    .paging a, .paging strong{margin: 0 2px;}

    .thumbWrap .title{padding-top: 5px;font-size: 35px;}
    .thumbWrap .thumbSliderArrow button{width: 60px;height: 60px;line-height: 60px;}
    .certifiedTotal .tooltipBox{left: auto;right: -14px;top: -148px;transform: translateY(0%);width: 300px;padding: 10px 8px;}
    .certifiedTotal .tooltipBox:before{left: auto;top: auto;bottom: -9px;right: 18px;margin-top: 0;border-right: 9px solid transparent;border-top: 10px solid #FFF;border-left: 9px solid transparent;border-bottom: 0;}

    .galleryboardList{padding: 30px 0;}
    .galleryboardList li{width: calc(50% - 10px);margin-left: 20px;margin-top: 20px;}
    .galleryboardList li:nth-child(3n+1){margin-left: 20px;}
    .galleryboardList li:nth-child(-n+3){margin-top: 20px;}
    .galleryboardList li:nth-child(2n+1){margin-left: 0;}
    .galleryboardList li:nth-child(-n+2){margin-top: 0;}
    .galleryboardList li .infoArea{padding: 20px;}

    .certifiedCate{gap: 18px;}
    .certifiedCate li{width: calc(33.33% - 12px);}
    .certifiedCate li p{left: 30px;top: 30px;font-size: 22px;}
    .processWrap{margin-top: 50px;}
    .processWrap .textArea{padding-left: 40px;}
    .processWrap .textArea .title{font-size: 30px;}
    .processWrap .textArea .text{font-size: 18px;}
    .processWrap .textArea .text span{font-size: 18px;}

    .managementList{margin-top: 60px;}
    .managementList .textArea{padding-left: 40px;}
    .managementList .textArea .title{font-size: 25px;}
}

@media screen and (max-width: 767px){

    .subContent{margin: 50px 0 60px;}
    #subVisual {padding-top: 0;height: 250px;}
    #subVisual .visualtext h2 {font-size: 30px;}
    #subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01_m.jpg);}
    #subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02_m.jpg);}
    #subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03_m.jpg);}
    #subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04_m.jpg);}
    #subVisual .visualbg.bg05:before{background-image: url(../images/sub/bg_subVisual05_m.jpg);}
    #subVisual .visualbg.bg06:before{background-image: url(../images/sub/bg_subVisual06_m.jpg);}
    .snbList > li{width: calc(50% - 25px);}
    .snbList > li:after{height: 26px;}
    .snbList > li.home{width: 50px;height: 50px;}
    .snbList > li > button{height: 50px;padding: 0 30px 0 10px;font-size: 13px;}
    .snbList > li > button:after{right: 10px;}
    .snbList > li > ul{top: 50px;}
    .snbList > li > ul > li > a{padding: 0 10px;font-size: 13px;}

    .greetingVisual{height: auto;padding-top: 0;}
    .greetingVisual img{position: inherit;left: inherit;top: inherit;}
    .greetingVisual .text{top: 40px;left: 30px;transform: translate(0, 0);width: auto;text-align: left;}
    .greetingVisual .text p{font-size: 26px;font-size: 6.5vw;color: #000;}
    .greetingContents{margin-top: 40px;font-size: 16px;text-align: left;}
    .greetingContents .sign{font-size: 16px;}
    .greetingContents .sign span{font-size: 22px;}

    .historyItem + .historyItem{margin-top: 80px;}
    .historyItem > .head > .year{font-size: 40px;}
    .historyItem > .head > .img{width: 100%;padding-top: 64.2%;}
    .historyItem > .head > .tit{font-size: 20px;}
    .historyItem > .list > li > .date{width: 80px;font-size: 16px;}
    .historyItem > .list > li > .text{font-size: 16px;}

    .ciArea{height: 170px;padding: 20px 40px;}
    .itemGroup + .itemGroup{margin-top: 50px;}
    .itemGroup dt{font-size: 26px;}
    .itemGroup dd .txt{font-size: 16px;}
    .signatureGroup > li{flex-direction: column;padding: 35px;}
    .signatureGroup > li > p{width: 100%;font-size: 20px;}
    .signatureGroup > li > .img{width: 100%;margin-top: 40px;text-align: center;}
    .signatureGroup > li > .img img{margin: 0 auto;}
    .colorGroup{flex-direction: column;}
    .colorGroup > li{width: 100%;}

    .veganeducationWrap > h5{font-size: 18px;}
    .veganeducationList{margin-top: 45px;gap: 0;}
    .veganeducationList li{width: 100%;margin-bottom: 50px;}
    .veganeducationList li .text{margin-top: 30px;}
    .veganeducationList li .text strong{font-size: 26px;}
    .veganeducationList li .text p{font-size: 16px;}
    .veganeducationWrap > .info{padding: 25px;font-size: 15px;}

    .boardTitle{margin-bottom: 50px;}
    .boardTitle h4{font-size: 26px;}
    .boardTitle p{margin-top: 10px;font-size: 16px;}
    .tabList{margin-bottom: 50px;}
    .tabList a{flex: 50% 0;height: 44px;font-size: 16px;}
    .tabList + .dotList{margin: 30px 0 60px;}
    .dotList.green > li{font-size: 16px;}
    .dotList.green > li:before{top: 11px;}
    .boardHeader {justify-content: flex-end;gap: 15px;}
    .boardHeader .totalGroup strong{display: none;}
    .boardHeader .totalGroup h4{margin-right: 10px;font-size: 26px;line-height: 1;}
    .boardHeader .totalGroup p{margin-left: 0;font-size: 16px;line-height: 1;}
    .boardHeader .totalGroup p:last-child{margin-left: 10px;}
    .boardHeader .boardSearchGroup{width: 100%;height: 44px;padding: 0 10px 0 20px;}
    .boardHeader .boardSearchGroup .sortSelect{width: 80px;height: 44px;font-size: 15px;}
    .boardHeader .boardSearchGroup .searchText{width: calc(100% - 124px);height: 44px;font-size: 15px;}
    .boardHeader .boardSearchGroup .btnSearch{width: 44px;height: 44px;background-size: 17px;}
    .boardHeader .boardControl{gap: 10px;}
    .boardHeader .boardControl .sortSelect{font-size: 16px;}
    .boardHeader + .faqList{margin-top: 40px;}
    .faqList ul li.question a{align-items: flex-start;flex-direction: column;flex-wrap: nowrap;padding: 20px 6px;}
    .faqList ul li.question .cate{width: 100%;padding: 0 0 10px;font-size: 16px;}
    .faqList ul li.question .title{position: relative;width: 100%;padding: 0 20px 0 0;font-size: 20px;line-height: 1.5;}
    .faqList ul li.question .title:after{right: 0;top: 11px;width: 15px;height: 9px;margin-top: 0;background-size: 100%;}
    .faqList ul li.answer{padding: 30px 25px;font-size: 16px;}
    .paging{margin-top: 50px;}

    .tableList colgroup,
    .tableList thead{display: none;}
    .tableList .mNone{display: none;}
    .tableList tr{position: relative;display: block;padding: 25px 0 30px;border-bottom: 1px solid #DDD;box-sizing: border-box;}
    .tableList tr:has(.btnView){padding: 25px 50px 30px 0;}
    .tableList td{display: inline-block;height: auto;margin-top: 5px;padding: 0;border-bottom: 0;font-size: 16px;text-align: left;}
    .tableList .bar:after{content: "";display: inline-block;width: 1px;height: 10px;margin: 0 5px 0 8px;background-color: #ddd;}
    .tableList td.title{display: block;font-size: 20px;color: #000;font-weight: 700;}
    .tableList td.secret{display: block;font-size: 20px;color: #000;font-weight: 700;}
    .tableList .btnView{position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: 50px;height: 50px;padding-right: 0 !important;background-color: #f2f7f5;background-image: url(../images/sub/icon_search_green_md.png);background-position: center;border-radius: 100%;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
    .tableList td:has( > .storeList){display: block;}
    .tableList td.secret a{background-position: 0 2px;}

    .barTitle strong{font-size: 26px;}
    .barTitle strong span{font-size: 17px;}
    .barTitle p{margin-top: 30px;font-size: 16px;}
    .textSm{font-size: 16px;}
    .textMd{margin-top: 40px;font-size: 18px;}
    .certifiedProduct{gap: 20px;margin: 40px 0 35px;}
    .certifiedProduct li{flex: 100%;height: 190px;padding: 35px;}
    .certifiedProduct li .tit{font-size: 23px;}
    .certifiedProduct li .num{font-size: 70px;}
    .certifiedProduct li .num span{font-size: 23px;}
    .graphArea{margin-top: 55px;overflow: auto;}
    .graphArea img{width: 1500px;max-width: max-content;}

    .thumbWrap .title{font-size: 30px;}
    .thumbWrap .thumbSliderArrow{display: none;}
    .thumbSlider{margin: 30px auto 0;}
    .thumbWrap .btnGroup{margin-top: 50px;padding-top: 40px;}
    .thumbWrap .btnGroup a{padding: 20px 70px;font-size: 20px;}
    .certifiedTotal{margin-bottom: 40px;}

    .searchHeader{padding: 38px 0;}
    .searchHeader .searchGroup{width: calc(100% - 40px);height: 44px;padding: 0 10px 0 0;}
    .searchHeader .searchGroup .searchText{height: 44px;padding: 0 0 0 20px;font-size: 16px;}
    .searchHeader .searchGroup .btnSearch{width: 44px;height: 44px;background-size: 19px;}
    .searchValue{margin-bottom: 50px;font-size: 23px;}
    .searchBody .searchItem .tit{margin-bottom: 25px;font-size: 26px;}
    .searchBody .searchItem .tableList td{height: auto;font-size: 16px;color: #666;font-weight: 400;}
    .searchBody .searchItem .tableList td.title{display: block;font-size: 20px;color: #000;font-weight: 700;}
    .searchBody .searchItem .tableList .iconFile{position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: 50px;height: 50px;padding-right: 0;background-color: #f2f7f5;background-position: center;border-radius: 100%;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
    .searchBody .searchItem .tableList tr:has(.iconFile){padding: 25px 50px 30px 0;}
    .searchBody .searchItem .tableList td:has(.iconFile){display: block;margin-top: 0;}
    .searchBody .searchItem .btnGroup{margin-top: 40px;}
    .searchBody .searchItem .btnGroup a{padding: 20px 70px;font-size: 20px;}

    .galleryboardList{margin-top: 40px;padding: 0 0 20px;}
    .galleryboardList li{width: 100%;margin-left: 0 !important;margin-top: 20px !important;}
    .galleryboardList li:first-child{margin-top: 0;}
    .galleryboardList li .infoArea .title{font-size: 19px;}
    .galleryboardList li .infoArea .text{margin: 18px 0;font-size: 15px;}
    .galleryboardList li .infoArea .date{font-size: 14px;}

    .boardViewHeader{padding: 20px 0;}
    .boardViewHeader .label{font-size: 16px;}
    .boardViewHeader .title{font-size: 18px;}
    .boardViewHeader .date{margin-top: 10px;font-size: 14px;}
    .boardViewbody{padding: 30px 0;}
    .boardNav li p{width: 95px;height: 50px;font-size: 14px;}
    .boardNav li a{width: calc(100% - 95px);padding-left: 20px;font-size: 14px;}
    .boardBtnGroup{margin-top: 30px;}
    .boardBtnGroup button, .boardBtnGroup a{width: 100px;height: 40px;font-size: 14px;}
    .boardBtnGroup button + button, .boardBtnGroup a + a{margin-left: 5px;}

    .certifiedIntroduction{margin-top: 30px;}
    .certifiedIntroduction .textArea{width: 100%;font-size: 16px;}
    .certifiedIntroduction .imgArea{width: 100%;margin-top: 40px;}

    .numList > li{margin-top: 40px;padding-top: 45px;padding-left: 0;font-size: 21px;}
    .numList > li:before{top: 0;}

    .certifiedCate{gap: 10px;margin-top: 20px;}
    .certifiedCate li{width: calc(50% - 5px);}
    .certifiedCate li p{left: 20px;top: 20px;font-size: 18px;}

    .processWrap{margin-top: 40px;padding: 50px 20px;border-radius: 25px;}
    .processWrap ul:before{display: none;}
    .processWrap ul li{flex-direction: column;}
    .processWrap ul li + li{margin-top: 40px;}
    .processWrap .textArea{width: 100%;padding-left: 0;margin-top: 30px;text-align: center;}
    .processWrap .textArea .title{font-size: 26px;}
    .processWrap .textArea .text{font-size: 16px;}
    .processWrap .textArea .text span{font-size: 16px;}

    .managementList{margin-top: 40px;padding: 0;}
    .managementList > li + li{margin-top: 40px;}
    .managementList .iconArea{display: none;}
    .managementList .textArea{width: 100%;padding-left: 0;}
    .managementList .textArea .title{font-size: 20px;}

    .boardthumbList ul li a{padding: 30px 0;}
    .boardthumbList .imgArea{width: 100%;}
    .boardthumbList .infoArea{width: 100%;margin-left: 0;}
    .boardthumbList .infoArea .title{margin-top: 10px;font-size: 20px;}
    .boardthumbList .infoArea .text{margin-top: 10px;}
    .boardthumbList .infoArea .date{margin-top: 10px;}

    .boardForm{margin-bottom: 20px;}
    .boardForm:before{display: block;}
    .boardForm colgroup,
    .boardForm thead{display: none;}
    .boardForm tr{position: relative;display: block;}
    .boardForm th, .boardForm td{display: block;height: auto;}
    .boardForm th{padding: 0;border: 1px solid #e8e8e8;line-height: 48px;font-size: 14px;}
    .boardForm td{padding: 10px 0;border-top: 0;font-size: 13px;}
    .boardForm td input, .boardForm td select{width: 100%;font-size: 13px;}
    .boardForm textarea{height: 150px;font-size: 13px;}
    .filebox .upload-name{width: 100%;}
    .filebox label{width: 100%;margin-left: 0;margin-top: 5px;font-size: 13px;text-align: center;}

    .fileList > strong{width: 95px;font-size: 14px;}

    .fileList > ul{width: calc(100% - 95px);}
    .fileList > ul > li{min-height: 50px;padding: 0 10px;}
    .fileList > ul > li > a{font-size: 14px;}
    .replyWrap{padding: 20px 10px;}
    .replyTit{margin-bottom: 5px;font-size: 16px;}
    .replyCon{font-size: 14px;}
}

@keyframes scale{ 
	0% {transform: scale(1.2);}
	100% {transform: scale(1);}
}